@using ChgCharityJamPrototype.Models
@model BackendModel
@{
    ViewData["Title"] = "Backend Board";
}

<div class="text-center">
    <h1 class="display-4">Backend Board</h1>
</div>

<div class="container">
    <label for="cards">Choose a card:</label>
    <select name="cards" id="cards">
        @foreach (var card in Model.Cards._cardList)
        {
            <option value="@card.Id">@card.Name</option>
        }
    </select>
    <input type="button" class="sendCard" value="Send Card" />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Neues Team hinzufügen</h3>
            <input type="text" id="NewTeamName" />
            <button type="button" class="btn btn-primary" onclick="addTeam()">Hinzufügen</button>
        </div>
        <div class="col-md-8">
            <h3>Teams</h3>
            <select asp-items="@(new SelectList(Model.Teams._teamList.Select(x => x.Name)))" id="SelectedTeam" class="form-control"></select>
            <button type="button" class="btn btn-danger" onclick="deleteTeam()">Löschen</button>
            <ul id="teamList">
@*                 @foreach (var team in Model.Teams._teamList)
                {
                    <li>@team.Name</li>
                } *@
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function addTeam() {
            var teamName = document.getElementById('NewTeamName').value;

            var option = document.createElement('option');
            option.text = teamName;

            document.getElementById('SelectedTeam').append(option);


            $.ajax({
                url: "BackendBoard/AddTeam?team=" + teamName, type: "POST", success: function (result) {
                    alert("successfully added team: " + result);
                }
            });
        }

        function deleteTeam() {
            var teamSelectBox = document.getElementById('SelectedTeam');
            var selectedTeam = teamSelectBox.options[teamSelectBox.selectedIndex].text;

            $.ajax({
                url: "BackendBoard/DeleteTeam?team=" + selectedTeam, type: "DELETE", success: function (result) {
                    alert("successfully removed team: " + selectedTeam);
                }
            });

            const options = [...document.querySelectorAll("#SelectedTeam option")];
            options.forEach(elem => {
                if (elem.innerText == selectedTeam) elem.parentNode.removeChild(elem);
            });
        }
    </script>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/channel.js"></script>