@{
    ViewData["Title"] = "Backend Board";
}

<div class="text-center">
    <h1 class="display-4">Backend Board</h1>
</div>

<div class="container">
    <label for="cards">Choose a card:</label>
    <select name="cards" id="cards">
        <option value="volvo card">Volvo Card</option>
        <option value="saab card">Saab Card</option>
        <option value="mercedes card">Mercedes Card</option>
        <option value="audi card">Audi Card</option>
    </select>
    <input type="button" onclick="sendCard()" value="Send Card" />
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/channel.js"></script>