@using ChgCharityJamPrototype.Models
@{
	ViewData["Title"] = "Backend Board";
}

<div class="text-center">
	<h1 class="display-4">Backend Board</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3>Teams</h3>
			<select id="teamSelection" class="form-control" size="8"></select>
			<div id="teamButtons">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teamAddPopup">Erstellen</button>
				<button type="button" class="btn btn-danger" onclick="deleteTeam()">Löschen</button>
			</div>
		</div>
		<div class="col-md-3">
			<h3>Cards</h3>
			<input class="form-control" id="cardSearchBox" type="text" placeholder="...Search">
				<br>
			<div class="h-75">
				<table class="table table-bordered table-striped bg-white">
					<thead>
					  <tr>
						<th>Id</th>
						<th>Name</th>
						<th>Type</th>
						<th>Activation</th>
						<th>Duration</th>
						<th>Price</th>
						<th>Description</th>
						<th>Description2</th>
					  </tr>
					</thead>
					<tbody id="cardTable">
					</tbody>
				</table>
			</div>
		</div>
</div>

<div class="container">
	<div class="row">

</div>


<div id="teamAddPopup" class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body text-black">
				<form id="addTeamForm" onsubmit="submitAddTeamForm()">
					<div class="form-group">
						<label>Team Name:</label>
						<input type="text" class="form-control" itemid="name" name="name" />
						<label>Workspace Name:</label>
						<input type="text" class="form-control" itemid="workspace" name="workspace" />
						<label>Credits:</label>
						<input type="number" class="form-control" itemid="balance" name="balance" />
						<button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teamAddPopup">Save</button>
						<button type="cancel" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#teamAddPopup">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/channel.js"></script>