html {
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  height: 100vh;
  background-color: #2c2f36;
  color: #0ecf75;
}
.container {
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.container > .container {
  padding-left: unset;
  padding-right: unset;
}
.container .inner-container {
  height: calc(100vh  - 200px);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo {
  background-image: url("../Assets/misc/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
}
.dealer {
  background-image: url("../Assets/misc/dealer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 5px solid;
}
.headline {
  color: #ccc;
  text-transform: uppercase;
}
.headline.primary {
  color: #0ecf75;
}
.row {
  justify-content: space-around;
}
.col-shrink {
  flex-basis: 150px;
  flex-grow: inherit;
}
.itemWrapper {
  padding-left: 25px;
  padding-right: 25px;
}
.item {
  padding: 20px;
  margin-bottom: 10px;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  background-image: url("../Assets/sampleTeam.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}
.item::before,
.item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  /* Breite des Fade-Effekts */
  z-index: 1;
}
.item::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #2c2f36);
  /* Fade-Effekt */
}
.item::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #2c2f36);
  /* Fade-Effekt */
}
.item > div {
  position: relative;
  z-index: 2;
}
.item > div > img {
  display: block;
  width: 100%;
}
.credits {
  text-align: center;
  background-color: #1008156b;
  color: #FFA500FF;
  width: 70%;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 280px;
}
.states {
  z-index: 2;
  position: relative;
}
.states .states-left,
.states .states-right {
  position: absolute;
  z-index: 2;
  /* Stelle sicher, dass der z-Index-Wert höher ist als der des Gradienten */
  margin-top: 30px;
}
.states .states-left {
  left: -25px;
}
.states .states-right {
  right: -25px;
}
.states .status--1 {
  background-image: url("../Assets/effects/SDCS-012.jpg");
  /* Hintergrundbild */
  background-size: contain;
}
.states .status--2 {
  background-image: url("../Assets/effects/SDCS-013.jpg");
  /* Hintergrundbild */
  background-size: contain;
}
.states .status--3 {
  background-image: url("../Assets/effects/SDCS-014.jpg");
  /* Hintergrundbild */
  background-size: contain;
}
.states .status--4 {
  background-image: url("../Assets/effects/SDCS-015.jpg");
  /* Hintergrundbild */
  background-size: contain;
}
.states .status--1,
.states .status--2,
.states .status--3,
.states .status--4 {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
.teamName {
  text-align: center;
  font-size: 24px;
  background-color: #1008156b;
  color: #FFF;
  position: relative;
}
.teamName::before,
.teamName::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  border-style: solid;
  transform: rotate(180deg);
}
.teamName::before {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #1008156b;
  left: -10px;
}
.teamName::after {
  border-width: 10px 10px 10px 0;
  border-color: transparent #1008156b transparent transparent;
  right: -10px;
}
.showCardModal {
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #2c2f36;
}
.showCardModal .cardPicture img {
  height: 50vh;
  margin: 25vh 0 20vh 20vh;
}
.affectedTeams {
  display: flex !important;
}
