@{
    ViewData["Title"] = "Frontend Board";
}

<div class="text-center">
    <h1 class="display-4">Frontend Board</h1>
</div>
<div class="container">
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>