@{
    ViewData["Title"] = "Frontend Board";
}

<button type="button" class="showCards" data-bs-toggle="foo">Click on me to trigger card</button>

<div class="inner-container">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col col-shrink">
					<div class="logo"></div>
				</div>
				<div class="col">
					<h1 class="headline">Showdown im Cyberspace</h1>
					<h2 class="headline">Qualifications</h2>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col col-shrink">
					<div class="dealer"></div>
				</div>
				<div class="col col-shrink">
					<h2 class="headline primary">Open</h2>
					<h2 class="headline">Dealer</h2>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 d-flex">
		<!-- Platzhalter für Items -->
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 1</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 2</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 3</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 4</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 5</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 6</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 7</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="itemWrapper">
				<div class="states">
					<div class="states-left">
						<div class="status--1">Status 1</div>
						<div class="status--2">Status 2</div>
					</div>
					<div class="states-right">
						<div class="status--3">Status 3</div>
						<div class="status--4">Status 4</div>
					</div>
				</div>
				<div class="item">
					<div class="credits">200.000 CC</div>
					<div class="teamName"> Team 8</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row p-1">
		<div class="col-6">
			<ul id="messagesList"></ul>
		</div>
	</div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/recipient.js"></script>
<script src="~/js/channel.js"></script>