@{
    ViewData["Title"] = "Frontend Board";
}

<div class="text-center">
    <h1 class="display-4">Frontend Board</h1>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <!-- Platzhalter für Items -->
        <div class="col">
            <div class="item">Item 1</div>
        </div>
        <div class="col">
            <div class="item">Item 2</div>
        </div>
        <div class="col">
            <div class="item">Item 3</div>
        </div>
        <div class="col">
            <div class="item">Item 4</div>
        </div>
        <div class="col">
            <div class="item">Item 5</div>
        </div>
        <div class="col">
            <div class="item">Item 6</div>
        </div>
        <div class="col">
            <div class="item">Item 7</div>
        </div>
        <div class="col">
            <div class="item">Item 8</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/recipient.js"></script>